button:not(.reset), select:not(.reset), .button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--negative-space);
  background-color: var(--positive-space);
  border-radius: 5px;
  padding: 10px 20px;
  border: 0px;
  margin: 10px 0px;
  text-transform: uppercase;
  font-family: var(--main-font);
  transition: color .5s, background-color .5s;
  border: 2px solid var(--positive-space);
  & + button {
    margin-left: 10px;
  }
  &:hover {
    color: white;    
  }
  &.case-matters {
    text-transform: none;
  }
  &.subtle {
    background-color: transparent;
    color: var(--positive-space);
    &:hover {
      background-color: rgba(255,255,255,.4);
    }
  }
  &:disabled {
    color: #bbb;
    background-color: #777;
    border-color: #777;
  }
  .reset-case {
    text-transform: none;
  }
}

.right-buttons {
  display: flex;
  justify-content: flex-end;
}
