select:not(.reset),
.button,
.button-default {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--primary);
  background-color: var(--darkest-primary);
  border-radius: 5px;
  padding: 10px 20px;
  border: 0px;
  margin: 10px 0px;
  text-transform: uppercase;
  font-family: var(--main-font);
  border: 1px solid var(--primary);
  transition: background-color 0.2s;
  & + button {
    margin-left: 10px;
  }
  &:hover {
    color: var(--primary);
    background-color: var(--hover-primary);
  }
  &:disabled {
    opacity: 0.5;
  }
  &:active {
    color: white;
    border-color: white;
  }
}

.refresh-icon {
  &:hover {
    opacity: 0.6;
  }
  &:active {
    color: white;
  }
}
