button:not(.reset), select:not(.reset), .button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  background-color: var(--black-near);
  border-radius: 5px;
  padding: 10px 20px;
  border: 0px;
  margin: 10px 0px;
  text-transform: uppercase;
  font-family: var(--main-font);
  transition: color .5s, background-color .5s;
  border: 2px solid var(--black-near);
  & + button {
    margin-left: 10px;
  }
  &:hover {
    color: var(--white);    
  }
  &.case-matters {
    text-transform: none;
  }
  &.subtle {
    background-color: transparent;
    color: var(--black-near);
    &:hover {
      background-color: var(--white-transparent-400);
    }
  }
  &:disabled {
    color: var(--grey-transparent-500);
    background-color: var(--grey-mid);
    border-color: var(--grey-mid);
  }
  .reset-case {
    text-transform: none;
  }
}

.right-buttons {
  display: flex;
  justify-content: flex-end;
}
