html {
  --primary: #75B6B5;
  --dark-primary: #162929;
  --darkest-primary: #101E1E;
  --inactive: #326563;

  --primaryLight: #F4706B;
  --error-light: rgb(255, 160, 160);
  --error-dark: #200;
}

*::-webkit-scrollbar {
	width: 7px;
  height: 7px;
  position: absolute;
  background-color: #101E1E;
}
*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color:rgb(70, 70, 70);
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
  background-color: #101E1E;
}
