html {
  --accent-color: #e8c9f3;
  --near-white: #f5f5f5;
  --primary-color: #ff6567;
  --secondary-color: #6067eb;
  --negative-space: #fff;
  --muted-negative-space: #ccc;
  --positive-space: #080808;
}
