.page-content-wrapper {
  padding: 50px 0px 0px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 100%;
  @media screen and (max-width: 1020px) {
    grid-template-columns: 100%;
  }
  gap: 20px;
}


.execute-sql-window {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 80px);
  max-height: 100%;
  .editor {
    min-height: 150px;
  }
}

.tab-section {
  background-color: var(--grey-dark);
  border-radius: 10px;
  padding: 10px;
  min-height: 0px;
  display: flex;
  flex-direction: column;
}

.page-section {
  max-height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
}
