.splash-page-connecter {
  grid-column: span 2;
  background-image: url("/assets/splash-bg.jpg");
  background-position: center;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
