
.staged-writes--list {
  background-color: rgba(255,255,255,1);
  font-family: monospace;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  border: 1px solid #777;
  min-height: 400px;
  color: #000;
  border-radius: 3px;
  li {
    padding: 10px;
    position: relative;
    border-bottom: 1px solid var(--secondary-color);
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 0px;
      border-top: 3px solid var(--secondary-color);
      bottom: 0px;
    }
    &:before {
      left: 0px;
    }
    &:after {
      right: 0px;
    }
    .delete {
      visibility: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 10px;
      padding: 10px;
      font-size: 1.4rem;
      font-weight: 100;
      margin-right: -10px;
    }
    &:hover {
      background-color: #300;
      
      .delete {
        visibility: visible;
        color: black;
        transition-duration: 200ms;
        &:hover {
          color: crimson;
          background-color:rgba(255,255,255, .5)
        }


      }
    }
    &::marker {
      left: 0;
      right: 0;
    }
  }
}
