@import "colors";
@import "reset";
@import "animations";
@import "navbar";
@import "table";
@import "codeEditor";
@import "buttons";
@import "staged-writes";


html {
  background-color: white;
  --main-font: "AndaleMono", AndaleMono, monospace;

  --secondary-font: "Times New Roman", Times, serif;


  font-family: var(--main-font);
  
  --background-dark: radial-gradient(#222, #000);

  --size-padding: 10px;
  @media only screen and (max-width: 1020px) {
    --size-padding: 10px;
  }
  @media only screen and (max-width: 720px) {
    --size-padding: 0;
  }
}
header, footer {
  background-color: var(--accent-color);
  padding: 10px;
}
header {
  margin-bottom: 10px;
}
footer {
  margin-top: 10px
}

h2 {
  font-size: 1.6rem;
  font-weight: 900;
  padding-bottom: 10px;
}
h3 {
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 10px;
}




#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &>main {
    padding: 40px;
    flex-grow: 1;
  }
}

.the-bg {
  position: fixed;
  z-index: -1;
  // background-image: url('/assets/app-bg.jpg');
  background-size: cover;
  top: -10%;
  left: 0;
  right: 0;
  bottom: -10%;
  animation: animatedBackgroundTall 26s ease-out infinite alternate;
}

.default-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.simple-page {
  padding: var(--size-padding);
  background-color: var(--near-white);
  border-radius: 5px;
}

.update-table-panel {
  padding: 50px;
  background-image: linear-gradient(315deg, #5b6467b5 0%, #c1c9d085 34%);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 60% 40%;
  @media screen and (max-width: 1020px) {
    grid-template-columns: 100%;
  }
  gap: 20px;
  table {
    width: 100%;
  }
}

.cell-editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  .cell-edit-box {
    width: 100%;
    textarea {
      width: 100%;
    }
  }
}

.error {
  display: block;
  border: 2px solid red;
  background-color: #ff000055;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 900;
  margin-bottom: 10px;
}

.users-input {
  border: 1px solid #333;
  background-color: #ffffff55;
  padding: 10px;
  font-family: var(--secondary-color);
  margin-bottom: 10px;
}

.form-input {
  border-radius: 5px;
  padding: 10px 20px;
}

.database-list {
  padding: 10px; 
  background-color: rgba(255,255,255, .5);
  border: black solid 2px;
  border-radius: 5px;
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      padding-bottom: 0px;
    }
    &>span {
      font-size: 1.2rem;
    }
  }
  &--database {
    margin: 20px 0px;
  }
}



.loading-please {
  display: flex;
  min-height: 40vh;
  width: 100%;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.query-window {
  max-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  .editor-wrapper {
    flex-shrink: 1;
    max-height: 30vh;
    min-height: 15vh;
    overflow: scroll;
  }
}
