.tabs-pane {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  .single-tab-pane {
    background-color: var(--black);
    padding: 10px;
    flex-grow: 1;
    &.closed {
      display: none;
    }
  }
}

.tab-nav {
  margin-bottom: -1px;
  display: flex;
  padding: 10px 15px 0px 0px; 
  max-width: 100%;
  overflow: scroll;
  li {
    display: block;
    padding: 8px 16px;
    font-size: 1.1rem;
    margin: 5px 5px 0px;
    transition: margin-top 200ms;
    border-radius: 5px 5px 0px 0px;
    color: var(--grey-light);
    display: flex;
    align-items: center;
    padding: 10px;
    &:hover {
      color: var(--white);
    }
    &:first-child {
      margin-left: 0px;
    }
    i {
      margin: 0px 10px
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  li.active {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--primary);
  }
  li.not-active {
    background-color: var(--grey-dark-ish);
    background-color: var(--black);
  }
  li input {
    background-color: transparent;
    border: 0px;
    color: var(--white);
  }
}
