.tab-nav {
  margin-bottom: -1px;
  display: flex;
  background-color: var(--grey-dark);
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 10px ;
  li {
    display: block;
    padding: 8px 16px;
    font-size: 1.1rem;
    margin: 5px;
    transition: margin-top 200ms;
    border-radius: 5px;
    color: var(--grey-light);
    &:hover {
      color: var(--white);
    }
    &:first-child {
      margin-left: 0px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  li.active {
    background-color: var(--grey-active);
    color: var(--white);
  }
}
