.table-container {
  width: 100%;
  overflow: hidden;
  overflow: scroll;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
table.tabula-rasa {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  
  th, td {
    padding: 10px 16px 10px 10px;
    position: relative;
    color: var(--white);
    border: 1px solid var(--grey-dark-ish);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
  }
  thead {
    border-collapse: separate;
    position: sticky;
    top: 0;

    z-index: 1;
  }
  th {
    background-color: var(--grey-dark-ish);
    text-align: left;
    color: var(--white);
    font-weight: 900;
    &:first-of-type {
      border-left: 0px;
    }
  }

  tr:hover {
    transition-duration: 200ms;
    background-color: var(--grey-mid-dark);
  }

  th {
    font-family: sans-serif;
    font-weight: 700;
    text-transform: capitalize;
  }
  td {
    
    &:hover {
      background-color: var(--grey-transparent-500);
    }
    &.selected {
      background-color: var(--grey-mid-dark);
    }
    &:hover {
      a {
        text-decoration: underline;
      }
      
    }
    a {
      text-decoration: none;

      color: var(--white);
      &:before {
        content: "\f424";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  tr:last-of-type>td {
    border-bottom: 0px;
  }
  input[type="checkbox"] {
    height: 30px;
    width: 30px;
  }
}
