.table-container {
  width: 100%;
  overflow: hidden;
  overflow: scroll;
  padding-bottom: 10px;
  margin-bottom: 5px;
  max-height: 100%;
}
table.tabula-rasa {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  
  th, td {
    padding: 10px 16px 10px 10px;
    position: relative;
    color: var(--primary);
    border: 1px solid var(--dark-primary);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
  }
  thead {
    border-collapse: separate;
    position: sticky;
    top: 0;

    z-index: 1;
  }
  th {
    text-align: left;
    color: var(--primary);
    font-weight: 900;
    &:first-of-type {
      border-left: 0px;
    }
  }

  tr:hover {
    transition-duration: 200ms;
  }

  th {
    font-family: sans-serif;
    font-weight: 700;
    text-transform: capitalize;
  }
  td {
    &.selected {
      background-color: var(--dark-primary);
    }
    &:hover {
      a {
        text-decoration: underline;
      }
      
    }
    a {
      text-decoration: none;

      color: var(--primary);
      &:before {
        content: "\f424";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  tr:last-of-type>td {
    border-bottom: 0px;
  }
  input[type="checkbox"] {
    height: 30px;
    width: 30px;
    accent-color: transparent;
  }
}

*::placeholder {
  font-style: italic;
}
.creating-table {
  margin: 10px auto;
  border-collapse:separate;
  border-spacing:0 5px;
  th {
    font-weight: 900;
    text-align: left;
    padding: 5px 10px;
  }
  tbody {
    tr {
      padding-top: 10px;
      td {
        background-color: var(--dark-primary);
        text-align: center;
      }
    }
  }
}
